<div class="row">
  <div class="col-md-12">
    <form [formGroup]="postForm">
      <div class="form-group">
        <label>Post Id: </label>
        <input type="text" class="form-control" formControlName="post_id" placeholder="Post id" name="post_id"
          [(ngModel)]="this.postObject.id" [ngClass]="{ 'is-invalid': submitted && f.post_id.errors }" />
        <div *ngIf="submitted && f.post_id.errors" class="invalid-feedback">
          <div *ngIf="f.post_id.errors.required">Post Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>User id: </label>
        <input type="text" class="form-control" formControlName="user_id" placeholder="User Id" name="user_id"
          [(ngModel)]="this.postObject.userId" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }" />
        <div *ngIf="submitted && f.user_id.errors" class="invalid-feedback">
          <div *ngIf="f.user_id.errors.required">Post Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Post Title: </label>
        <input type="text" class="form-control" formControlName="post_title" placeholder="Post Title" name="post_title"
          [(ngModel)]="this.postObject.title" [ngClass]="{ 'is-invalid': submitted && f.post_title.errors }" />
        <div *ngIf="submitted && f.post_title.errors" class="invalid-feedback">
          <div *ngIf="f.post_title.errors.required">Post Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Post Body: </label>
        <input type="text" class="form-control" formControlName="post_body" placeholder="Post Body" name="post_body"
          [(ngModel)]="this.postObject.body" [ngClass]="{ 'is-invalid': submitted && f.post_body.errors }" />
        <div *ngIf="submitted && f.post_body.errors" class="invalid-feedback">
          <div *ngIf="f.post_body.errors.required">Post Body is required</div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3 offset-md-9">
        <button class="btn btn-pill btn-primary" type="button" (click)="savePost();" style="float:right;">
          Add</button>
      </div>
    </div>
  </div>
</div>